{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="container">
    <form class="shortener">
        <h2 class="shortener__header">shorten URLs!</h2>
        <div class="shortener__field">
            <label for="url" class="shortener__label">
                URL
            </label>
            <input id="url" class="shortener__input" type="url" placeholder="Ex: https://google.com">
            <button id="send-btn" type="submit" class="shortener__btn">shorten my url</button>
        </div>
        <div id="container" class="">
            <p class="message"></p>
            <a class="link_to" href=""></a>
        </div>
    </form>
</div>
{% render_bundle 'calls_apis' %}
{% endblock content %}