{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}


{% block head %}
<style>
    #container {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    #container > * {
        padding: 12px 0;
        background-color:aliceblue;
    }
</style>
{% endblock head %}
    

{% block content %}
<div id="container">
    <h2>shorten URLs!</h2>
    <input id="url-input" type="url" placeholder="paste the url">
    <button id="send-btn">shorten my url</button>
</div>
{% render_bundle 'calls_apis' %}
{% endblock content %}